#motd {
  font-size: 20px;
}

#logo {
  position: absolute;
  left: 2%;
  top: 2%;
  width: 10%;
}

#content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#site-nav {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}
#site-nav > a {
  padding: 10px;
  margin-left: 10px;
  border-radius: 10px;
  background: var(--main-bg-color-light);
  transition: 200ms background;
}
#site-nav > a:hover {
  background: var(--main-bg-color-dark);
}

#weather-canvas {
  z-index: -1;
  position: absolute;
  left: 0px;
  top: 0px;
}
.newline {
  color: green;
  user-select: none;
}
.command {
  color: #aabaff;
}

code {
  display: block;
  white-space: pre-line;
  background: var(--main-bg-color-dark);
  border-radius: 10px;
  width: max-content;
  padding: 20px; 
  text-align: left;
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  transition: 200ms;
}
code:hover {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

footer {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  height: 10%;
  width: 100%;

  background: var(--main-bg-color-dark);
}